<!-- Main navigation -->
<div class="container navbar-container">
	<nav class="navbar navbar-expand-md navbar-light">

		<!-- Company name shown on mobile -->
		<a class="navbar-brand d-md-none d-lg-none d-xl-none" href="#"><span>mono</span>tone</a>

		<!-- Mobile menu toggle -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#mainNavbar" aria-controls="mainNavbar"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Main navigation items -->
		<div class="collapse navbar-collapse" id="mainNavbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="index.html">Home <span class="sr-only">(current)</span></a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
					role="button" aria-haspopup="true" aria-expanded="false">Examples
						&amp; Pages</a>
					<div class="dropdown-menu navbar-dark bg-primary">
						<a class="dropdown-item" href="examples.html">Style Examples</a> <a
							class="dropdown-item" href="three-column.html">Three Column</a> <a
							class="dropdown-item" href="one-column.html">One column / no
							sidebar</a> <a class="dropdown-item" href="text.html">Text / left
							sidebar</a>
					</div></li>


				<li class="nav-item"><a [routerLink]="['/books']" class="nav-link">Books</a>
				</li>

				<li class="nav-item"><a class="nav-link" href="#">Products</a>
				</li>

				<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
			</ul>

			<form class="form-inline header-search-form my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" size="10"
					placeholder="Search" aria-label="Search">
				<button class="btn my-2 my-sm-0 btn-primary" type="submit">Search</button>
			</form>

		</div>
	</nav>
</div>
