
<!-- Header -->
<div class="container">
	<div class="header-wrap d-none d-md-block">
		<div class="row">

			<!-- Left header box -->
			<header class="col-6 text-left">
				<h1>
					<span>mono</span>tone
				</h1>
			</header>

			<!-- Right header box -->
			<div class="col-6 text-right">
				<p class="header-social-icons social-icons">
					<a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i
						class="fa fa-twitter fa-2x"></i></a> <a href="#"><i
						class="fa fa-youtube fa-2x"></i></a> <a href="#"><i
						class="fa fa-instagram fa-2x"></i></a>
				</p>
			</div>
		</div>
	</div>
</div>

